[Unit]
Description=Jupyter Lab
After=syslog.target
After=network.target

[Service]
ExecStart=/home/pi/Documents/notebooks/notebook-server.sh
Type=simple
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
